@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var x = 2;
    var y = 9;
    var z = x + y;

}
@{
    var total = 7;

}

@{
    var myMessage = "Hello World";
}
@{
    var greeting = "Welcome to our site!";
    var weekday = DateTime.Now.DayOfWeek;
    var greetingMessage = greeting + "Today is:" + weekday;
}
<!--Storing a string-->
@{
    var WelcomeMessage = "Welcome to ASP.NET Web Pages!";
}
<!--Storing a date-->
@{
    var year = DateTime.Now.Year;
}
@{
    var result = "";

    if(HttpMethods.IsPost(Request.Method))
    {
        result = "This page was posted using the submit button.";
    }
    else
    {
        result = "This  was the first request for this page.";
    }
}
@{
    var add = 0;
    var addMessage = "";

    if (HttpMethods.IsPost(Request.Method))
    {
        //Retrieve the numbers that the user entered.
        var num1 = Request.Form["text1"];
        var num2 = Request.Form["text2"];

        //Convert the entered strings into integers numbers and add.

        add = Convert.ToInt32(num1) + Convert.ToInt32(num2);
        addMessage = "add=" + add;
    }
}
<style>
    h1{
        color: orangered;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Addition is @z </h2>

    <!--Displaying a variable-->

    <p>@addMessage</p>

    <p>Current Year is: @year!</p>

    <p>@WelcomeMessage</p>
   
    <p>The greeting is:@greetingMessage</p>
 
   
   <p>The value of your account is: @total </p>
    <p>The value of myMessage is: @myMessage</p>

   <!--
 <form method="POST" action="">
 <input type="submit" name="submit" value="submit" />
        <p>@result</p>
    </form>

      -->
    <form action="" method="POST">
        <p>
            <label for="text1" >First Number:</label>
            <input type="text" name="text1" />

        </p>

        <p>
            <label for="text2" >Second Number:</label>
            <input type="text" name="text2"/>
        </p>
        <p>
        <input type="submit" value="ADD"/>
        </p>

        <p>@addMessage</p>
    </form>


   
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
